.center.hero-unit
  = image_tag("rblogo.png", alt:"RobotnikBros")
  %h2
  - if !signed_in?
    = link_to (t'.sign_in_up'), signin_path, class: "btn btn-large btn-primary"

= render 'posts/recent_posts'
