- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h3
        = gravatar_for @user
        = @user.name
      - if @user.show_age?
        = @user.age
        Years Old
= render 'users_posts'
